/* 
    Document   : jquery.dreamyLiteBox
    Created on : Nov 16, 2011, 5:40:39 PM
    Author     : Andres Pi
    Description:
        Styles for the dreamyLitebox plugin.
*/
#close-lbox {
  background: #c5add5 url(../img/cross.png) no-repeat 4px 4px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0px 1px 0px #666666 inset;
  -moz-box-shadow: 0px 1px 0px #666666 inset;
  -ms-box-shadow: 0px 1px 0px #666666 inset;
  -o-box-shadow: 0px 1px 0px #666666 inset;
  box-shadow: 0px 1px 0px #666666 inset;
  cursor: pointer;
  float: right;
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
  height: 17px;
  margin: 6px 6px 0 0;
  position: relative;
  width: 17px;
  z-index: 10001;
}
.lbox {
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 2px #1a1a1a;
  -moz-box-shadow: 1px 1px 2px #1a1a1a;
  -ms-box-shadow: 1px 1px 2px #1a1a1a;
  -o-box-shadow: 1px 1px 2px #1a1a1a;
  box-shadow: 1px 1px 2px #1a1a1a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: none;
  font-size: 1.2em;
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 10000;
}
.lbox h2 {
  border: 1px solid #ad8bc4;
  color: #ffffff;
  font-size: 14px;
  background-color: #ab87c2;
  background-image: -moz-linear-gradient(top, #a17abb, #b99ccc);
  background-image: -ms-linear-gradient(top, #a17abb, #b99ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a17abb), to(#b99ccc));
  background-image: -webkit-linear-gradient(top, #a17abb, #b99ccc);
  background-image: -o-linear-gradient(top, #a17abb, #b99ccc);
  background-image: linear-gradient(top, #a17abb, #b99ccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a17abb', endColorstr='#b99ccc', GradientType=0);
  margin: 0 0 10px;
  padding: 5px 10px 4px;
  text-align: left;
  text-transform: uppercase;
  -webkit-text-shadow: 0 0 1px #cccccc;
  -moz-text-shadow: 0 0 1px #cccccc;
  -ms-text-shadow: 0 0 1px #cccccc;
  -o-text-shadow: 0 0 1px #cccccc;
  text-shadow: 0 0 1px #cccccc;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.lbox input[type="text"],
.lbox .uneditable-input {
  height: auto;
}
.lbox label span {
  display: inline-block;
  /* IE7 inline-block hack */

  *display: inline;
  *zoom: 1;
  font-size: 16px;
  padding-bottom: 5px;
}
.lbox-content {
  padding: 12px 15px;
}
/* Wait */
.lbox_wait {
  background: #ffffff url(../img/wait.gif) no-repeat center 20px;
  padding: 40px 15px 12px;
  text-align: center;
}
.lbox_wait .lbox-content {
  padding: 0;
}
.lbox_wait #close-lbox {
  display: none;
}
#fade {
  background: #000000;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.75;
  filter: alpha(opacity=75);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
/*confirm-lbox*/
#confirm-lbox {
  bottom: 0;
  height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
}
#confirm-lbox .btn {
  border: 1px solid #a17abb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #8958aa;
  cursor: pointer;
  display: inline-block;
  display: inline-block;
  /* IE7 inline-block hack */

  *display: inline;
  *zoom: 1;
  font-weight: bold;
  margin: 0 5px;
  padding: 2px;
}
.lbox_alert {
  text-align: center;
}
/*prompt*/#input-prompt-lbox {
  display: block;
  margin: 0 auto;
  width: 75%;
}
/*title*/
.lbox-title {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 13px;
  padding: 0 15px;
}